@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');

* {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 800px;
}

.main {
    width: 80%;
    padding: 25px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #ffc300;
    border-radius: 5px;
    background-image: url("leather.png");
}

.equalizerAnimation {
    width: 600px;
    height: 300px;
    background-color: black;
    background-image: url("checkered-light-emboss.png");
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px;
    width: 100%;
}

.control-info {
    margin: 0 0 5px;
}

.controls {
    width: 80%;;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    justify-content: space-between;
    padding: 10px;
    border: #533e0d dashed 6px;
}

.color {
    width: 50px;
    background-image: url("transparent-square-tiles.png");
}

.color-one {
    background-color: #191970;
    height: 100%;
}

.color-two {
    background-color: #0000ff;
    height: 50%;
}

.color-three {
    background-color: #add8e6;
    height: 20%;
}

.color-four {
    background-color: #b0c4de;
    height: 10%;
}

.color-five {
    background-color: #87cefa;
    height: 30%;
}

.color-six {
    background-color: #87ceeb;
    height: 10%;
}

.color-seven {
    background-color: #6495ed;
    height: 90%;
}

p {
    color: #533e0d;
    font-size: 21px;
    margin: 5px 0 0;
    font-style: italic;
    font-family: Square Peg, Arial, Helvetica, sans-serif;
}

.btn {
    display: flex;
    justify-content: space-around;
}

.nice-gentleman {
    margin-top: 20px;
}

.btns {
    display: flex;
    width: 25%;
    justify-content: space-around;
    padding: 0.5em 2em;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    border: 3px solid #533e0d;
    text-align: center;
    background-image: url("leather.png");
    font-family: Square Peg, Arial, Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
}

#play-btn:hover,
#play-btn:active,
#stop-btn:hover,
#stop-btn:active,
#color-btn:hover,
#color-btn:active {
    color: #ffc300;
    border: 3px solid #191970;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--hover); }
}

#play-btn {
    background-color: #034efd;
}

#stop-btn {
    background-color: red;
}

#color-btn {
    background-color: greenyellow;
}

#color-btn:hover,
#color-btn:active {
    color: #0000ff;
}

@media(max-width: 500px) {
    .container {
        width: 500px;
    }

    .main {
        width: 80%;
    }

    .equalizerAnimation {
        width: 80%;
    }

    .color {
        width: 10%;
    }
}