* {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
}

.main {
    padding: 25px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 700px;
    background-color: #ffc300;
    border-radius: 5px;

}

.equalizerAnimation {
    width: 600px;
    height: 300px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px;
}

.btn {
    width: 400px;
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
    border: #533e0d dashed 2px;
    padding: 10px;
}

.color {
    width: 50px;
}

.color-one {
    background-color: #191970;
    height: 100%;
}

.color-two {
    background-color: #0000ff;
    height: 50%;
}

.color-three {
    background-color: #add8e6;
    height: 20%;
}

.color-four {
    background-color: #b0c4de;
    height: 10%;
}

.color-five {
    background-color: #87cefa;
    height: 30%;
}

.color-six {
    background-color: #87ceeb;
    height: 10%;
}

.color-seven {
    background-color: #6495ed;
    height: 90%;
}

p {
    color: #533e0d;
    font-size: 21px;
    margin: 5px 0 0;
    font-style: italic;
}

.btns {
    padding: 0.5em 2em;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    border: 3px solid black;
}

#play-btn:hover,
#play-btn:active,
#stop-btn:hover,
#stop-btn:active,
#color-btn:hover,
#color-btn:active {
    color: #ffc300;
    border: 3px solid #a0bded;
    box-shadow: 2px 2px #888888
}

#play-btn {
    background-color: #034efd;
}

#stop-btn {
    background-color: red;
}

#color-btn {
    background-color: greenyellow;
}

#color-btn:hover,
#color-btn:active {
    color: #0000ff;
}